@font-face {
    font-family: 'gilroy-black-6';
    src: url('./gilroy-black-6.otf');
}

@font-face {
    font-family: 'gilroy-blackitalic-7';
    src: url('./gilroy-blackitalic-7.otf');
}

@font-face {
    font-family: 'gilroy-bold-4';
    src: url('./gilroy-bold-4.otf');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('./Gilroy-ExtraBold.otf');
}

@font-face {
    font-family: 'Gilroy-ExtraBoldItalic-10';
    src: url('./Gilroy-ExtraBoldItalic-10.otf');
}

@font-face {
    font-family: 'Gilroy-HeavyItalic-8';
    src: url('./Gilroy-HeavyItalic-8.otf');
}

@font-face {
    font-family: 'Gilroy-Light-11';
    src: url('./Gilroy-Light-11.otf');
}

@font-face {
    font-family: 'Gilroy-LightItalic-12';
    src: url('./Gilroy-LightItalic-12.otf');
}

@font-face {
    font-family: 'Gilroy-Medium-2';
    src: url('./Gilroy-Medium-2.otf');
}

@font-face {
    font-family: 'gilroy-regular-3';
    src: url('./gilroy-regular-3.otf');
}

@font-face {
    font-family: 'Gilroy-Thin-13';
    src: url('./Gilroy-Thin-13.otf');
}

@font-face {
    font-family: 'Gilroy-ThinItalic-14';
    src: url('./Gilroy-ThinItalic-14.otf');
}

@font-face {
    font-family: 'Radomir-Tinkov-Gilroy-Heavy-9';
    src: url('./Radomir-Tinkov-Gilroy-Heavy-9.otf');
}
