.md-editor {
  --md-color: #F5F7FA;
  --md-hover-color: #000;
  --md-bk-color: rgba(255, 255, 255, 0);
  --md-bk-color-outstand: #f2f2f2;
  --md-bk-hover-color: #f5f7fa;
  --md-border-color: #e6e6e6;
  --md-border-hover-color: #b9b9b9;
  --md-border-active-color: #999;
  --md-modal-mask: #00000073;
  --md-modal-shadow: 0px 6px 24px 2px #00000019;
  --md-scrollbar-bg-color: #e2e2e2;
  --md-scrollbar-thumb-color: #0000004d;
  --md-scrollbar-thumb-hover-color: #00000059;
  --md-scrollbar-thumb-active-color: #00000061;
  --md-theme-bg-color-inset: #43404B;
  --md-theme-quote-border: 5px solid #703EDB;

  :deep(*) {
    word-break: break-word;
    font-size: 16px;
    font-family: 
    "Gilroy-Medium-2",
    "Gilroy",
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;;
  }

  :deep(ol), :deep(ul) {
    list-style: revert !important;
  }

  :deep(h1) {
    margin: 0;
  }

  :deep(h2) {
    margin: 0;
  }

  :deep(.md-editor-preview) {
    --md-theme-code-inline-color: #244fde;
  }

  :deep(.md-editor-preview-wrapper .md-editor-preview p) {
    margin: 0;
  }
}
